.list {
	list-style: none;
}

.list h2 {
	font-family: roboto;
	font-weight: bolder;
}

.list p,
div {
	font-family: exo;
}

@media screen and (max-width: 768px) {
	/* For mobile: */
	.list {
		margin-right: 9%;
	}
}
