@media screen and (min-width: 768px) {
	.panel {
		border-right: 2px solid rgb(209, 209, 209);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding-left: 10%;
		padding-top: 20%;
	}
}

@media screen and (max-width: 768px) {
	/* For mobile: */
	.panel {
		border-bottom: 2px solid rgb(209, 209, 209);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding-left: 10%;
		margin-top: 10px;
		padding-bottom: 5%;
	}
}
